* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(../img/bgimage1.jpg);
  background-size: cover;
  padding: 0px 5px;
  font-size: 15px;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 30px;
  z-index: 3;
  width: 100%;
  margin-left: -10px;
}

.heading h1 {
  font-size: 1.45rem;
  margin: 18px auto;
  background-color: #6C4EA4;
}

.heading h2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  margin-right: -15px;
  padding-top: 5px;
  top: 0;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  background-color: #6C4EA4;
  width: 100%;
  z-index: 1;
  position: fixed;
}

.heading h2 > .prev {
  color: #6C4EA4;
  cursor: default;
}

.heading h2 > .prev:hover {
  color: white;
}

.heading h2 > a {
  color: black;
  margin-left: 20px;
  margin-right: 20px;
  transition: 0.3s ease;
}

.heading h2 > a:hover {
  color: grey;
}

.heading h3 {
  font-size: 1rem;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

.title {
  background-color: black;
  margin: 30px auto 0px auto;
  text-align: center;
  color: white;
  padding: 10px 12px;
  width: 325px;
  border-radius: 7px 7px 0px 0px;
  font-size: 1.2rem;
}

.title-one {
  background-color: black;
  margin: 50px auto 0px auto;
  text-align: center;
  color: white;
  padding: 10px 12px;
  width: 280px;
  border-radius: 7px 7px 0px 0px;
  font-size: 1.2rem;
}

.title-two {
  background-color: black;
  margin: 50px auto 0px auto;
  text-align: center;
  color: white;
  padding: 10px 12px;
  width: 280px;
  border-radius: 7px 7px 0px 0px;
  font-size: 1.2rem;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 5px 30px 20px;
  margin: 5px auto 50px auto;
  color: black;
  border-radius: 0px 0px 7px 7px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.form-container-one {
  width: 325px;
}

.form-container-two {
  width: 280px;
}

.field {
  padding: 8px 5px;
  width: 60%;
  border: none;
  margin: 5px;
  border-radius: 5px;
  color: #0d1927;
  background-color: transparent;
  border: 1px solid black;
  font-size: 0.7rem;
}

.spec-field-one {
  display: inline;
  padding: 7px 0px;
  width: 150px;
  margin: 5px;
  border-radius: 5px;
  color: #0d1927;
  background-color: transparent;
  font-size: 0.7rem;
}

.spec-field {
  padding: 8px 10px;
  border: none;
  margin: 10px;
  border-radius: 5px;
  font-size: 0.8rem;
}

.field:focus {
  outline: none;
}

.field::placeholder {
  color: #0d1927;
}

button {
  background-color: black;
  color: white;
  padding: 9px;
  border-radius: 7px;
  border: none;
  margin: 30px auto 0px auto;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  display: flex;
  justify-content: center;
  width: 120px;
  cursor: pointer;
  transition: 1s;
}

button:hover {
  transform: translateY(-5px);
}